
/*Table*/  
.panel-footer .btn:hover {
    border: 1px solid #4ec509;
    background-color: #fff !important;
    color: #cf030d;
}

.panel-heading {
    color: #fff !important;
    background-color: #4ec509 !important;
    padding: 20px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: x-large;/*add*/

}

.panel-body{
    font-size: medium;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer .btn {
    margin: 5px 0;
    background-color: #4ec509;
    color: #fff;
}

.btn-danger{
    background-color: #4ec509;
    color: #fff;
}

/* #admin1{
display: block;
} */

table {
    position: fixed;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    top: 200px; 
}

table.center{
    margin-left: 10%;
    margin-right: 10%;
}

table:hover{
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

#email22{
    width: 40%;
}

#password22{
    width: 20%;
}

#id22{
    width: 5%;
}

#role22{
    width: 15%;
}

#del-btn{
    width: 15%;
}
#action22{
    width: 15%;
}

th{
    background-color: activeborder;
}

.listform2 {
    margin-bottom: 60px;
}

h1{
    text-align: center;
}
#box{
    display: none;
}
/*Table*/
/* #del-btn{
margin: 15px 0;
  background-color: #cf030d;
  color: #fff;
  font-size: 14px;
} */

/*navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #4ec509;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}
/*navbar*/

/*-----*/

/* Full-width input fields */
#email2{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#password2 {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#id02{
    display: none;
    margin-left: 10%;
    margin-right: 10%;
}

/*Button*/

#submit2{
    background-color: #4ec509;
    color: #fff;
    font-size: 16px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

#submit2:hover {
    background-color: rgb(124, 120, 120);
}

#cancel2{
    background-color: #4ec509;
    color: #fff;
    font-size: 16px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

#cancel2:hover {
    background-color: rgb(124, 120, 120);
}

#myBtn2 {    
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #4ec509;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 25px;
}

#myBtn2:hover {
    background-color: rgb(124, 120, 120);
}

#genPassword2{
    background-color: #4ec509;
    color: #fff;
    font-size: 16px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

#genPassword2:hover{
    background-color: rgb(124, 120, 120);
}

#del-btn2{
    background-color: #4ec509;
    color: #fff;
    font-size: 16px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

#del-btn2:hover{
    background-color: rgb(124, 120, 120);
}

/*Button*/